
<p>近畿大学<br>
@kinkidaigakuPR</p>
<p>近畿大学総務部広報室のTwitter公式アカウントです。
近畿大学ホームページの更新情報を中心に、
大学に関する情報を発信していきます。
個別DMでのお問い合わせには返信を行っておりませんので、ご了承ください。</p>

大阪府東大阪市<br>
 <a href="instagram.com/kinkidaigakupr/">instagram.com/kinkidaigakupr/</a><br>
2010年12月に登録

<p class="btn"><%= link_to 'ツイート', new_tweet_path %>&nbsp;<%= link_to 'ダイレクト...', new_tweet_path %></p>
