<% @tweets.each do |tweets| %>
<p><%= image_tag('kinki.jpg') %>近畿大学&nbsp;@kinkidaigakuPR ・<%= (Time.current - tweets.tdate).to_i/60 %> 分前</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%=tweets.message%><br>
<%= link_to image_tag(tweet_path(tweets), :width => 100),tweet_path(tweets) %> 
</p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '削除', tweet_path(tweets), method: :delete %>
<%= link_to '表示', tweet_path(tweets) %>
<%= link_to '編集', edit_tweet_path(tweets) %>
<% end %>

