/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #C0C0C0;
}

#container {}

#header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn a {
  color: #FFF;
  /*文字・アイコン色*/
  border-radius: 20px;
  /*角丸に*/
  display: inline-block;
  height: 40px;
  /*高さ*/
  width: 140px;
  /*幅*/
  text-align: center;
  /*中身を中央寄せ*/
  font-size: 17px;
  /*文字のサイズ*/
  line-height: 45px;
  /*高さと合わせる*/
  vertical-align: middle;
  /*垂直中央寄せ*/
  background: #1da1f3;
  overflow: hidden;
  /*はみ出た部分を隠す*/
  text-decoration: none;
  /*下線は消す*/
}

img {
  border-radius: 50%;
  /* 角丸半径を50%にする(=円形にする) */
  width: 50px;
  /* ※縦横を同値に */
  height: 50px;
  /* ※縦横を同値に */
  vertical-align: middle;
}

.logo img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 5px solid white;
}

message {
  text-align: center;
}

#yield {}


#sidebar {

  margin-left: auto;
  /* 左側マージンを自動的に空ける */
  margin-right: auto;
  /* 右側マージンを自動的に空ける */
  text-align: left;
  /* 中身を左側表示に戻す */
  float: left;
  border-color: yellow;
  width: 25%;
}

#content {
  text-align: left;
  margin: 0px;
  /* ページ全体のmargin */
  padding: 0px;
  /* ページ全体のpadding */
  float: left;
  width: 50%;
  background-color: #FFF;
}
